body {
    margin: 0px;
font-family: 'Arimo';
font-size: 16px;

}
main {
    display: flex;
    justify-content: center;
}
header {
    text-align: center
}
h2 {
	text-align: center;
	color:blue;
	font-weight: bold;
}
button#convert_now {
    position: relative;
    left: 45%;
  background:blue;
  padding:5px 10px;
  color:#fff;
  border:none;
  border-radius:5px;
  
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
}
input.btn {
width:50%;

}
.table {
width:80%;
}
header button {
    border: none;
    padding: 1rem;
    border-radius: 5px;
    background-color: tomato;
    color: #ccc; 
}
section {
    width: 25%;
    height: 25%;
    border: 1px solid #555;
    margin: 1rem;
    position: relative;
    box-shadow: 2px 2px 4px;
}
section h3 {
    margin: 0px;
    border-bottom: 1px solid #bbb;
    padding: 10px;
    font-weight: normal;
    display: flex;
    align-items: center;
}
section h3 img {
    width: 20px;
}
.titles, .price, .time, .symbol {
    display: flex;
    margin: 10px;
    padding: 10px;  
}
.titles{
    border-bottom: 2px solid #ddd;    
}
.price, .time, .symbol{
    border-bottom: 1px solid #ddd;
}
.id{
    width: 15%;
}
.titles {
	font-weight: bold;
}
.title{
    width: 40%;
}
.value{
    width: 40%;
    text-align:center;
}

form {
    width: 85%;
    height: 50%;
    border: 1px solid #555;
    margin: 0 auto;
    margin-top: 1rem;
    box-shadow: 2px 2px 4px;
    display: none;
}
#aud_price, #gbp_price, #jpy_price {
	font-weight: bold;
	color:orange;
} 

form > div {
    display: flex;
    justify-content: center;
}
label {
    display: grid;
    width: 40%;
    margin-top: 1rem;
}

input, select{
    height: 25px;
    box-sizing: border-box; 
    border-radius: 0px;
}

select{
    border-left: none;
}
.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
#result {
margin-right: auto;
font-size: 20px;
}
#yourResult {
    width: 200px;
    height: 35px;
    border: 5px solid blue;
    font-size: 20px;
    font-weight: bold;
}